.fullScreen {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-app);
    z-index: 50;
}

.spinner {
    animation: spin 1s linear infinite;
    color: var(--text-secondary);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}